/*	Main Page
------------------------------*/
#page1 {
    background-color: rgb(255, 0, 152);
    height: 500px;
}

#page2 {
    background-color: rgb(255, 255, 255);
    height: 500px;
}

#page3 {
    background-color: rgb(255, 0, 152);
    height: 500px;
}

#page4 {
    background-color: rgb(255, 255, 255);
    height: 500px;
}

.page4left {
    margin-left: 200px;
}

.page4right {
    margin-left: 900px;
    margin-top: -312px;
}

.page4submit {
    margin-left: 200px;
    margin-top: 20px;
}

.page4banner {
    background-color: rgb(75, 0, 130);
    height: 60px;
}

.page4banner h1 {
    color: white;
    margin-left: 455px;
}

.page4tape1 {
    margin-top: -125px;
    margin-left: -32px;
    -webkit-transform: rotate(55deg);
}

.page4tape2 {
    margin-top: -180px;
    margin-left: 1650px;
    -webkit-transform: rotate(120deg);
}

/*	SITE WIDE
------------------------------*/

input[type=text] {
    width: auto;
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=date] {
    width: auto;
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=email] {
    width: auto;
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=password] {
    width: auto;
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #4b0082;
}

input[type=date]:focus {
    border: 3px solid #4b0082;
}

input[type=email]:focus {
    border: 3px solid #4b0082;
}

input[type=password]:focus {
    border: 3px solid #4b0082;
}

i {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*	NAVIGATION
------------------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
    background: rgba(75, 0, 130, 0.5)
}

li {
    display: inline;
    text-decoration: none;
    margin-left: 5%;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
}

li a:hover {
    background-color: mediumpurple;
    text-decoration: none;
    color: white;
}
div p {
    margin: 5%;
    font-weight: bold;
    color: white;
}


* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 20px 0;
    transition: all 0.5s ease;
}
nav.hidden {
    transform: translate3d(0,-100%,0);
}
nav ul li {
    display: inline-block;
    margin-right: 60px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, sans-serif;
}

th {
    padding-right: 20px;
}
/*	MAIN HEADING
------------------------------*/

.main-heading
{
    background: url(../afb/main.jpg) center center no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: #cfcfcf;
}

.main-heading >.overlay
{
    height: 750px;
}
p.lead
{
    position:relative;
    top:5px;
    color:#e3e3e3;
    font-size:0.93em;

}

.example_a {
    color: #fff !important;
    text-transform: uppercase;
    background: indigo;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    text-decoration: none;
}

.example_a:hover {
    background: rebeccapurple;
}

/*.example_a:hover {
    background: rebeccapurple;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}*/
.container-fluid{
    padding-right: 0 !important;

    padding-left: 0px !important;
}

/*	LOGIN PAGE
------------------------------*/
div.middle {
    border: 1px solid black;
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 30%;
    height: 500px;
    background: rgba(255, 0, 152, 0.5);
    filter: alpha(opacity=60);
    border-radius: 20px;
}

body {
    background-image: url("../afb/Login2.jpg")
}

.background-image {
    filter: blur(5px);
}

div.loginTable {
    margin-top: 200px;
    margin-left: 30px;
}

/*	Picture Page
------------------------------*/

div.Picture {
    border: 1px solid black;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    height: 500px;
    background: rgba(255, 0, 152, 0.5);
    filter: alpha(opacity=60);
    border-radius: 20px;
}

.pictureupload {
    margin-left: 10%;
    margin-top: 15%;
}

.picturedescription {
    margin-left: 50%;
    margin-top: -3.8%;
}

.btnPictureSend {
    margin-left: 10%;
}

.btnPictureHome {
    margin-left: 50%;
    margin-top: -3.8%;
}