body {
    background-color: white;
}


#page1 {
    background-color: rgb(255, 0, 152);
}

#page2 {
    background-color: rgb(255, 255, 255);
}

#page3 {
    background-color: rgb(255, 0, 152);
}

#page4 {
    background-color: rgb(255, 255, 255);
}

/* Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    background: rgba(255, 0, 152, 0.5)
}

li {
    display: inline;
    text-decoration: none;
    margin-left: 5%;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: mediumvioletred;
}
div p {
    margin: 5%;
    font-weight: bold;
    color: white;
}


* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 20px 0;
    transition: all 0.5s ease;
}
nav.hidden {
    transform: translate3d(0,-100%,0);
}
nav ul li {
    display: inline-block;
    margin-right: 60px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, sans-serif;
}

th {
    padding-right: 20px;
}
/*	MAIN HEADING
------------------------------*/

.main-heading
{
    background: url(../afb/main.jpg) center center no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: #cfcfcf;
}

.main-heading >.overlay
{
    height: 750px;
}
p.lead
{
    position:relative;
    top:5px;
    color:#e3e3e3;
    font-size:0.93em;

}

.example_a {
    color: #fff !important;
    text-transform: uppercase;
    background: indigo;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.example_a:hover {
    background: rebeccapurple;
}

/*.example_a:hover {
    background: rebeccapurple;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}*/
.container-fluid{
    padding-right: 0 !important;

    padding-left: 0px !important;
}